<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.vector.itube" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="co.vector.itube.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="co.vector.itube.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:name="co.vector.itube.BaseClass"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YoutubeBaseActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="sensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">

        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:name=".BaseActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:name=".SignupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="com.idrivecare.familypro" />
            </intent-filter>
        </activity>

        <service android:name=".BillingService"
            android:exported="true"/>

        <receiver android:name=".BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" >
        </receiver>

        <service
            android:name="NotificationService"
            android:enabled="true" />

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="co.vector.itube" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
    </application>
</manifest>
